[submodule "bundle/jade"]
	path = bundle/jade
	url = http://github.com/digitaltoad/vim-jade.git
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
